html, body {
  height: 100%;
  background-color: #F7F7F7;
}

/***************************************************/
/*********************** Common ********************/
/***************************************************/

.container {
  margin-top: 20px;
}

i {
  cursor: pointer;
}

.rounded-div {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #E6E8EC;
  padding: 15px;
  margin-bottom: 10px;
}

/***************************************************/
/*********************** Login *********************/
/***************************************************/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/***************************************************/
/******************** Maintenance ******************/
/***************************************************/

.vehicle-maintenance {
  cursor: pointer;
}